.reg-background{
	background: rgb(255,255,255);
	transition: all 0.2s ease-in-out;
}
.good-move{
	background: rgb(230,255,230);
	transition: all 0.2s ease-in-out;
}

#blokus-game{
	width:100%;
	height:90%;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	
}
.header{
	height:3%;
	padding:5px 0px 1px 0px;
}
.game{
	height:95%;
	display:flex;
}
.piece-set{
	width:35%;
	height:100%;
	padding:0px 10px 0px 0px;
}
.board-controls{
	width:65%;
	height:100%;
	display:block;
}
.board{
	height:70%;
	width:100%;
}
.controls{
	height:30%;
	width:100%;
	display: flex;
}
#piece-controls{
	height:100%;
	width:33%;
	display:block;
}
.piece-controls-row{
	display:flex;
}
#main-viewer{
	height:100%;
	width:33%;
}
#options{
	height:100%;
	width:33%;
	display:block;
	padding:10px;
}
.button {
	background-color: #CCCCCC;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px;
	cursor: pointer;
}
.button:hover{
	background-color: #DDDEEE;
}
.board{
	display:table;
}
.board-row{
	display:table-row;
}
.board-cell{
	display:table-cell;
	background: #EEEEEE;
	border: 1px solid white;
}
.hover-cell{
	background:rgb(204, 204, 204);
}
.rel-hover-cell{
	//background:rgb(154, 0, 0);
	background:rgb(170, 110, 120);
}
#piece-set{
	display:table;
}
.piece-table{
	display:table-cell;
	background: white;
}
.piece-table-container{
	//background: rgb(255,255,255);
	transition: all 0.2s ease-in-out;
	display:table;
	height:100%;
	width:100%;
	padding:5px;
}
.piece-table-cell{
	display:table-cell;
	background: white;
}
.piece-placed-table{
	background: rgb(100,100,100);
}
.my-block{
	background: rgb(66, 134, 244);
}
.opp-block{
	background: rgb(244, 66, 107)
}
.corner-block{
	background: rgb(206, 255, 211)
}